<div class="wrap">
  <ng-container *ngIf="appService.tournament$ | async as tournament">
    <div class="line">
      <ng-container
        *ngFor="let member of tournament.bracket.members; let i = index"
      >
        <div
          class="member-mark__initial"
          [class.member-mark__initial__right]="i % 2"
          [class.member-mark__initial__left]="!(i % 2)"
        >
          {{ member?.team_name }}
        </div>
      </ng-container>
      <ng-container *ngIf="tournament.bracket.childNodes.length">
        <ng-container
          *ngFor="
            let childBracket of tournament.bracket.childNodes;
            let i = index
          "
        >
          <ng-container
            *ngTemplateOutlet="
              bracket;
              context: {
                $implicit: childBracket,
                right: !!(i % 2),
                first: !(i % 2)
              }
            "
          ></ng-container>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #bracket let-bracketData let-right="right" let-first="first">
      <div class="bracket-block__wrapper">
        <div
          class="bracket-block"
          [style.height.px]="
            bracketData.round === tournament.maxRoundCount - 1
              ? bracketData.round * 100
              : bracketData.round * 60
          "
          [class.bracket-block__right]="right"
          [class.bracket-block__left]="!right"
        >
          <ng-container
            *ngFor="let member of bracketData.members; let i = index"
          >
            <div
              class="member-mark"
              [class.member-mark__top-right]="!(i % 2) && right"
              [class.member-mark__bottom-right]="i % 2 && right"
              [class.member-mark__top-left]="!(i % 2) && !right"
              [class.member-mark__bottom-left]="i % 2 && !right"
            >
              {{ member?.team_name }}
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="bracketData.childNodes.length">
          <ng-container
            *ngFor="let childBracket of bracketData.childNodes; let i = index"
          >
            <div
              class="bracket-block__child"
              [style.top.px]="
                i % 2
                  ? bracketData.round === tournament.maxRoundCount - 1
                    ? bracketData.round * 50
                    : bracketData.round * 30
                  : 'unset'
              "
              [style.bottom.px]="
                !(i % 2)
                  ? bracketData.round === tournament.maxRoundCount - 1
                    ? bracketData.round * 50
                    : bracketData.round * 30
                  : 'unset'
              "
              [style.right.px]="!right ? 70 : 'unset'"
              [style.left.px]="right ? 70 : 'unset'"
            >
              <ng-container
                *ngTemplateOutlet="
                  bracket;
                  context: {
                    $implicit: childBracket,
                    right: right,
                    first: !(i % 2)
                  }
                "
              ></ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>

    <button (click)="tournament.play()" class="play-btn">PLAY</button>
  </ng-container>
</div>
